#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-1 H1 {
  color: #000000;
  font-size: 60px;
}
#header4-1 P {
  color: #000000;
  font-size: 36px;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header4-7 H1 {
  color: #000000;
  font-size: 60px;
}
#header4-7 P {
  color: #000000;
  font-size: 36px;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header4-12 H1 {
  color: #000000;
  font-size: 60px;
}
#header4-12 P {
  color: #000000;
  font-size: 36px;
}
#ext_menu-16 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header4-17 H1 {
  color: #000000;
  font-size: 60px;
}
#header4-17 P {
  color: #000000;
  font-size: 36px;
}
#ext_menu-21 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header4-22 H1 {
  color: #000000;
  font-size: 60px;
}
#header4-22 P {
  color: #000000;
  font-size: 36px;
}
#ext_menu-26 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-26.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header4-27 H1 {
  color: #000000;
  font-size: 60px;
}
#header4-27 P {
  color: #000000;
  font-size: 36px;
}
#ext_menu-31 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-31.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header4-32 H1 {
  color: #000000;
  font-size: 60px;
}
#header4-32 P {
  color: #000000;
  font-size: 36px;
}
#ext_menu-36 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-36.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header4-37 H1 {
  color: #000000;
  font-size: 60px;
}
#header4-37 P {
  color: #000000;
  font-size: 36px;
}
#ext_menu-41 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-41.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#header4-42 H1 {
  color: #000000;
  font-size: 60px;
}
#header4-42 P {
  color: #000000;
  font-size: 36px;
}
